/* Unopinonated Styles */
.round-border {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid black;
}

/* Element specific styles */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body { 
  color: #333333;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 16px;
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a, footer, .date {
  color: #333333b0;
}

.main {
  flex-grow: 1;
}

h1, h3, p {
  margin: 0;
}

h1, h3 {
  margin-bottom: 12px;
}

.about-heading {
  font-weight: 600;
}

p {
  margin-bottom: 8px;
}

a {
  text-decoration: none;
  padding-bottom: 2px;
}

a:hover {
  cursor: pointer;
  border-bottom: 1px solid #333333b0;
}

header a {
  text-decoration: underline
}

header a:hover {
  border-bottom: none;
  opacity: 0.8;
}

header {
  margin-bottom: 40px;
}

header a {
  margin-right: 8px;
}

.form-container {
  padding: 16px;
  background-color: #0b1736;
}

.form-container button {
  flex-grow: 0.25;
  font-size: 14px;
}

.form-container button:hover {
  cursor: pointer;
  opacity: 0.9;
}

#form-url {
  /* padding: 0 12px; */
  display: flex;
  justify-content: space-between;
}

#input-url {
  width: 250px;
  flex-grow: 0.7;
  font-size: 14px;
}

.message-url {
  background-color: white;
  margin-top: 16px;
  display: none;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  font-size: 14px;
}

.original-url {
  flex-basis: 100%;
}

.short-url-container {
  margin-top: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.short-url {
  flex-grow: 0.6;
}

#copy-button {
  padding: 4px;
  margin-top: 6px;
}

footer { 
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid #333333b0;
}

.portrait {
  display: block;
  max-width: 250px;
  margin-bottom: 12px;
}

@media (min-width: 620px){
 .short-url-container {
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
 }

 .short-url { 
   flex-grow: 0.6;
 }

 #copy-button {
   flex-grow: 0.15;
 }
}