<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css"> 
</head>
<body>
  {{>header}}
  <div class="main">
    <p>Url Shortener is a small full-stack JavaScript app created by Derek Luu</p>
    <img class="portrait" src="img/partTime-headshot.png">
    <p>The backend is an API that sends a shortened URL to the client</p>
    <p>When the shortened URL is visited, the client is redirected to the original URL</p>
  </div>
  {{>footer}}
</body>
</html>